.landing-page-1-child {
  position: absolute;
  top: 9663px;
  left: 0;
  width: 1728px;
  height: 259.2px;
  object-fit: cover;
}
.landing-page-1-item {
  position: absolute;
  top: 774px;
  left: 3169.8px;
  border-radius: 18px;
  background-color: #aa58aa;
  width: 83.4px;
  height: 87.6px;
  transform: rotate(33.94deg);
  transform-origin: 0 0;
}
.landing-page-1-inner {
  position: absolute;
  top: -0.5px;
  left: 2829.5px;
  border-right: 1px solid #222;
  box-sizing: border-box;
  width: 1px;
  height: 82px;
}
.create-screens-direc1,
.frequently-asked-questions {
  position: absolute;
  height: 1.27%;
  width: 28.24%;
  top: 73.15%;
  left: 9.9%;
  letter-spacing: -0.3px;
  line-height: 40px;
  font-weight: 500;
  display: inline-block;
}
.frequently-asked-questions {
  height: 1.6%;
  width: 29.17%;
  top: 71.51%;
  font-size: var(--font-size-46xl);
  letter-spacing: -2.4px;
  line-height: 74px;
  font-weight: 600;
  color: var(--color-gray-400);
}
.mask-group-icon,
.rectangle-div {
  position: absolute;
  top: 4380px;
  left: 1px;
  width: 1728px;
  height: 1295px;
}
.rectangle-div {
  background-color: var(--color-gray-600);
}
.mask-group-icon {
  object-fit: cover;
}
.wrapper-group-88-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: -291px;
  transform: scale(3.463);
}
.wrapper-group-88 {
  position: absolute;
  top: 9663px;
  left: 0;
  width: 1732px;
  height: 244px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-group-146-child {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 21px;
  top: 24px;
  transform: scale(1.457);
}
.wrapper-group-146 {
  position: absolute;
  top: 0;
  left: 0;
  width: 762px;
  height: 534px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-parent {
  position: absolute;
  height: 5.39%;
  width: 76.16%;
  top: 90.46%;
  right: 11.92%;
  bottom: 4.15%;
  left: 11.92%;
}
.frequently-asked-questions1 {
  position: absolute;
  width: 25.98%;
  top: 91.17%;
  left: 19.39%;
  font-size: var(--font-size-71xl);
  letter-spacing: -2.4px;
  line-height: 100px;
  font-weight: 600;
  color: #fefefe;
  display: inline-block;
}
.frame-icon {
  position: absolute;
  top: 2152px;
  left: 658px;
  width: 1043px;
  height: 1007px;
  overflow: hidden;
  object-fit: cover;
}
.group-icon,
.landing-page-1-child1 {
  position: absolute;
  top: 1791px;
  left: 339px;
  width: 188.9px;
  height: 58.5px;
  object-fit: cover;
}
.landing-page-1-child1 {
  left: 1389px;
  width: 167.2px;
}
.landing-page-1-child2,
.landing-page-1-child3,
.landing-page-1-child4 {
  position: absolute;
  top: 1791px;
  left: 1203px;
  width: 143.8px;
  height: 58.5px;
  object-fit: cover;
}
.landing-page-1-child3,
.landing-page-1-child4 {
  left: 774px;
  width: 163.8px;
}
.landing-page-1-child4 {
  left: 570px;
  width: 153.8px;
}
.aave-logo-icon,
.group-child {
  position: absolute;
  width: 123.7px;
}
.group-child {
  top: 0;
  left: 1.7px;
  background-color: var(--white);
  height: 58.5px;
}
.aave-logo-icon {
  top: 7.5px;
  left: 0;
  height: 43.5px;
  object-fit: cover;
}
.landing-page-1-child5,
.rectangle-parent {
  position: absolute;
  top: 1791px;
  left: 171px;
  width: 125.4px;
  height: 58.5px;
}
.landing-page-1-child5 {
  left: 972px;
  width: 188.9px;
  object-fit: cover;
}
.landing-page-1 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 9916px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkgray);
  font-family: var(--label-01);
}
