.iconsarrowsarrow-right {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.buttons-auto-layout-on-fil {
  border-radius: var(--br-3xs);
  background-color: var(--base-01);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
